html,body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-image: url("stacked_circles.png");
	font-family: 'Delius Unicase', 'Give You Glory', cursive;
	color: 	#2A5B84;
	
	/* Firefox */
	display:-moz-box;
	-moz-box-orient:vertical;
	-moz-box-pack:center;
	-moz-box-align:center;

	/* Safari and Chrome */
	display:-webkit-box;
	-webkit-box-orient:vertical;
	-webkit-box-pack:center;
	-webkit-box-align:center;

	/* IE 10 */
	display:-ms-flexbox;
	-ms-flex-direction:column;
	-ms-flex-pack:center;
	-ms-flex-align:center;

	/* W3C */
	display:box;
	box-orient:vertical;
	box-pack:center;
	box-align:center;
}

header {
	margin: 5px;
	text-align: center;
}

header h1 {
	margin: 0px;
	text-shadow: 1px 1px 5px #aaa;
}

header a:hover {
	text-decoration: underline;
}

a {
	color: inherit;
	text-decoration: none;
}

#controls {
	display: none;
	margin: 5px;
	margin-bottom: 0px;
	padding: 5px;
	background-color: #AAC4D1;
	box-shadow: 0px -1px 4px 0px #ddd;
	color: 	#2A5B84;
}

#controls ul {
	padding: 0px;
	margin: 0px;
}

#controls ul li {
	display: inline-block;
	list-style: none;
}

#controls a {
	display: block;
	margin-left: 10px;
	padding: 3px;
	border: dashed 2px #2A5B84;
	
	background-color: rgba(255,255,255,0.5);
}

#controls a:hover {
	border-style: solid;
}

#controls input[type=text] {
	width: 60px;
	border: none;
	border-bottom: dashed 2px #2A5B84;
	outline: none;
	background-color: transparent;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	text-align: right;
}

#controls input[type=text]:hover {
	border-bottom: solid 2px #2A5B84;
}

#cnv_container {
	position: relative;
	width: 500px;
	height: 500px;
	margin: 10px;
	margin-top: 4px;
	padding: 0px;
	background-color: rgba(170, 196, 209,0.5);
	box-shadow: 0px 0px 0px 5px #AAC4D1, 0px 5px 5px 3px #ddd;
	overflow: hidden;
}

#cnv_container canvas {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 500px;
	height: 500px;
	padding: 0;
	margin: 0;
	background-color: transparent;
}

#instructions {
	font-family: 'Give You Glory', cursive;
	font-size: 20px;
	padding: 10px;
}

#instructions .header {
	font-size: 22px;
	display: block;
	text-align: center;
	text-decoration: underline;
	margin-top: 20px;
	margin-bottom: 10px;
	
}

#instructions .subtext {
	font-size: 16px;
	margin-top: -10px;
	margin-left: 20px;
	display: block;
}

#instructions ul {
	padding-left: 20px;
}

#instructions ul li {
	list-style: none;
}